.about-webinar {
  padding: 2rem 0;

  &__left-content {
    @media (max-width: 1043px) {
      margin-bottom: 2rem;
    }
  }

  &__content-title {
    font-family: "GothamU", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__content-description {
    font-family: "GothamR", sans-serif;
    font-size: 1rem;
    line-height: 1.4;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &__content-list {
    padding-right: 2rem;
  }

  &__content-list-item {
    font-family: "GothamR", sans-serif;
    font-size: 1rem;
    line-height: 1.4;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}

.main-form_about {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .about-webinar {
    &__content-title {
      font-size: 1.75rem;
    }

    &__content-description {
      font-size: 1.125rem;
    }

    &__content-list-item {
      font-size: 1.125rem;
    }
  }
}

@media (min-width: 1044px) {
  .about-webinar {
    padding-top: 4.5rem;

    &__content {
      display: flex;
      justify-content: space-between;
    }

    &__left-content {
      width: 30rem;
    }

    &__right-content {
      width: 27.75rem;
    }

    &__content-title {
      letter-spacing: 1.1px;
      margin-bottom: 3.4rem;
    }

    &__content-description {
      font-size: 1.25rem;
      letter-spacing: .9px;
      line-height: 1.25;

      &:not(:last-of-type) {
        margin-bottom: 1.5rem;
      }
    }

    &__content-list-item {
      font-size: 1.25rem;
    }
  }
}
