* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 680px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 1000px;
  }
}
