@font-face {
  font-family: 'GothamR';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/GothamProRegular.woff2') format('woff2'),
    url('../../fonts/GothamProRegular.woff') format('woff');
}

@font-face {
  font-family: 'GothamU';
  font-style: normal;
  src: url('../../fonts/GothamUltra.woff2') format('woff2'),
    url('../../fonts/GothamUltra.woff') format('woff');
}
